.game-board {
  display: grid;
  grid-template-rows: 200px repeat(3, 200px);
  grid-template-columns: 200px repeat(3, 200px);
}

.corner {
  background: #353548;
  border: 2px solid #353548;
  border-radius: 10px;
}

.top-label {
  background: #4a4a5b;
  border: 2px solid #353548;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  border-radius: 10px;
}

.top-label:hover {
  background: #5D5D6D;
  cursor: pointer;
}

.side-label {
  background: #4a4a5b;
  border: 2px solid #353548;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  border-radius: 10px;
}

.side-label:hover {
  background: #5D5D6D;
  cursor: pointer;
}

.box {
  background: #2a2a3a;
  border: 2px solid #353548;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  transition: background 0.3s ease;
  border-radius: 10px;
}

.box:hover {
  background: #9A9AA4;
  cursor: pointer;
}
